Repository mc-es/devdocs-tr: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:eslint, npm run format:prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run format:eslint", "npm run format:prettier"],
  "*.{json,md,mdx,css}": ["npm run format:prettier"]
}

chore(ci): configure workflow and script for weekly commit stats update
  .github/workflows/update-commit-stats.yml
  scripts/commit/update-commit-stats.sh
Due: none

chore(config): add .editorconfig and .nvmrc for consistency
  .editorconfig
  .nvmrc
  .prettierrc
Due: none

feat(homepage): add template HTML structure and styling for TR Docs
  homepage.html
Due: none

feat(lib): add cn function for merging Tailwind classes
  app/lib/cn.ts
  package-lock.json
  package.json
Due: npm run format:eslint, npm run format:prettier

chore(eslint): configure additional linting rules
  app/layout.tsx
  app/lib/cn.ts
  app/page.tsx
  eslint.config.mjs
  scripts/commit/commit-tense-check.ts
Due: npm run format:eslint, npm run format:prettier

feat(deps): configure dependabot for weekly npm updates and monthly GitHub Actions updates
  .github/dependabot.yml
Due: none

fix(stats-script): add blank line after section title in .husky/README output
  scripts/commit/update-commit-stats.sh
Due: none

chore(ci): add semantic-release configuration and workflow
  .github/workflows/release.yml
  package-lock.json
  package.json
  release.config.mjs
Due: npm run format:prettier

Notes added by 'git notes add'
  cbde7cd1c1c882784c226303275990664eb6f17e
Due: none

Notes added by 'git notes add'
  ee88af38c08e816bace5b9daec5b2ae1ae1c5738
Due: none

chore(release): add changelog generation and git commit steps to semantic-release config
  release.config.mjs
Due: none

feat(theme): implement light/dark mode switching with next-themes integration
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/theme/index.ts
  components/theme/theme-provider.tsx
  components/theme/theme-switcher.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: npm run format:eslint, npm run format:prettier

chore(lib): move lib directory out of app folder for better project structure
  lib/cn.ts
Due: npm run format:eslint, npm run format:prettier

chore(release): 1.0.0-dev.2 [skip ci]
  CHANGELOG.md
Due: npm run format:prettier

Notes added by 'git notes add'
  7751b0bbd3fc7d3e05f9eaf696e8200ac087233a
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: npm run format:prettier

Notes added by 'git notes add'
  ef8bc9336590f0fb69564bf298439b9c44836476
Due: none

chore(ci): switch weekly commit stats job to PR creation
  .github/workflows/update-commit-stats.yml
  .prettierignore
  components/theme/index.ts
  components/theme/theme-provider.tsx
  components/theme/theme-switcher.tsx
  eslint.config.mjs
Due: npm run format:eslint, npm run format:prettier

chore(ci): switch weekly commit stats job to PR creation
  .github/workflows/update-commit-stats.yml
  .prettierignore
  components/theme/index.ts
  components/theme/theme-provider.tsx
  eslint.config.mjs
Due: npm run format:eslint, npm run format:prettier

chore(docs): update weekly commit stats
  .husky/README.md
Due: npm run format:prettier

chore(ci): use PAT for create-pull-request action
  .github/workflows/update-commit-stats.yml
  package-lock.json
Due: npm run format:prettier

chore(codebase): reorganize folder structure
  .github/workflows/update-commit-stats.yml
  .husky/commit-msg
  app/layout.tsx
  app/page.tsx
  components/buttons/theme-switcher.tsx
  components/index.ts
  components/theme/index.ts
  components/theme/theme-provider.tsx
  eslint.config.mjs
  providers/index.ts
  providers/theme-provider.tsx
  scripts/commits/commit-format-check.sh
  scripts/commits/commit-message-template.html
  scripts/commits/commit-tense-check.sh
  scripts/commits/commit-tense-check.ts
  scripts/commits/update-commit-stats.sh
  scripts/commits/utils.sh
  utils/cn.ts
  utils/index.ts
Due: npm run format:eslint, npm run format:prettier
